body{
    font-family:sans-serif;
    background-image: url(imagens/empresa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}
.crasse {
    margin-top: -85px;
    margin-left: 68%;
    border-color: aliceblue;
    color: aliceblue;
    font-size: 25px;
}
a {
    color:aliceblue;
}
h2{
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
}
h3{
    margin: 30px;
}
.styleimg{
    border: solid;
}
.sanduiche{
    margin: 0px;
    margin-top: -105px;
    margin-left: 20px;
}